body            { 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	max-width: 99%;
	margin-left: 1%;
  margin-right: 1%;
}
h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

a {
  color: red;
}
a:link {
  color: red;
}
a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: #ADD8E6;
}

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 5px;
  margin-bottom: 40px;
  font-size: 10px;
}

table.dataframe{
	margin: 10px;
	overflow-y: scroll;
	overflow-x: scroll;
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}

#newloadframe #reloadframe{
	width: 60%;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url("/static/spinner.gif")
                50% 50% 
                no-repeat;
}


/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
    overflow: hidden;
}

#top-div{
  display: table;
}

.d-flex, #pagehead {
  margin: 1%;
}


#freq_unigram, #tiabs_freq_uni,#tiabs_freq_bi,#f_preds_bi,#chi_preds_uni,
#tf_mesh_bi,#tf_tiabs_uni, #tf_tiabs_bi,#tf_pred, #tf_pred_multi, #f_preds_uni,#chi_preds_bi{
  display: table-cell;
  max-width: 10%;
  vertical-align: 
}

#headings-div{
  display: table-row;
  vertical-align: top;
  width: 100%;
}

#freq_mesh, #freq_tiabs, #tfidf-mesh, #tfidf-tiabs, #fishers{
  display: table-cell;
  width: 30%;
  
}


#banner { 
  font-size: 30px;
  font-weight: bold;
  top: 50%
  left: 50%;
  margin: 0 auto;
  color: navy-blue;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.row {
  border: 1px solid lightblue; 
  padding: 1%;
  margin: 1%;
}

.row .frame{
  border: 1px solid grey; 
  padding: 10px;
}

.center-block{
  border: none; 
  margin-left: 0 auto;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}