<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Upload</title>
<link rel="icon" href="data:;base64,=">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename  = 'style.css') }}">
</head>
<body>
    <fieldset>
        <input type="radio" name="inputOption" checked="true" value="new">Click to initiate a new search<br>
        <fieldset id="newloadframe">
            <legend>New search</legend>
            <p class="upload">
                <form id="upload-form" action="{{ url_for('main.upload') }}" method="POST" enctype="multipart/form-data">
                    {{ form1.hidden_tag() }}
                    {{ form1.search_name.label }} 
                    {{ form1.search_name }}<br>
                    <p>
                        {% for error in form1.search_name.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <strong>Load file containing citations:</strong><br>
                    <!--<input type="file" name="file" id="file">-->
                    {{ form1.file }}
                    <div id="msg"></div>
                    {{ form1.upload_button }}
                </form>
            </p>
        </fieldset>

        <input type="radio" name="inputOption" value="existing">Recall existing search<br>
        <fieldset id="reloadframe" disabled="true">
            <legend>Retrieve existing result</legend>
            <p class="retrieve">
            <form action="{{ url_for('main.retrieve') }}" method="POST">
                {{ form2.hidden_tag() }}
                {{ form2.search_name }}<br>
                <p>
                        {% for error in form2.search_name.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                {{ form2.searchbtn }}
            </form>
            </p>
        </fieldset>
    
    </fieldset>
    

</body>

<script>
   // $(document).ready(
    
    $(document).ready(function (){
        $("input[type = 'radio']").on("change", function(){
            var radButtons = $("input[name = 'inputOption']:checked")
            if (radButtons.val() == "existing"){
                console.log(radButtons.val());
                $("#reloadframe").prop("disabled", false); 
            }
            else
                $("#reloadframe").prop("disabled", true); 
            
            if (radButtons.val() == "new"){
                console.log(radButtons.val());
                $("#newloadframe").prop("disabled", false);
            }
            else
                $("#newloadframe").prop("disabled", true);
        });

    $("#file").change(function(){
        
        var input = document.getElementById('file');
        for (var i=0; i<input.files.length; i++)
        {
        
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()
            if ((ext == 'txt') || (ext == 'csv')|| (ext == 'ris'))
            {
                $("#msg").text("Files are supported")
                $("#upload_button").prop('disabled', false);
            }
            else
            {
                $("#msg").html("The selected file format is NOT yet supported <br /> Please select a different file in 'csv' or 'txt' format")

                $("#upload_button").prop('disabled', true);

                $("#file").value ="";
            }
        }
    });
});
        
</script>
</html>