{% extends 'base.html' %}

{% block app_content %}

	<h2>Citation record preview</h2>
	<table>
		{{ data | safe }}
	</table>
	
	<form method="POST" id = process_form>
    	{{ form.hidden_tag() }}
    	<p>
        	{{ form.process_button}}
    	</p>
	</form>
	<div class="modal" id="modal">
		<img src="{{ url_for('static', filename='spinner.gif') }}">
	</div> 

{% endblock %}

{% block scripts %}
{{super()}}
<script>
    $(document).ready(function (){
        $("#process_form").on("submit", function(){
        $("input[type = 'submit']", this)
            .val("Retrieving predicates, preprocssing, and ranking...")
            .prop("disabled", "disabled");
        return true;
       });
    });
    $body = $('body');
    $(document).ajaxStart(function() { 
        $body.addClass("loading"); 
    }).ajaxStop(function () { 
        $body.removeClass("loading");
    });
</script>

{% endblock %}
